.row {
  display: flex;
  flex-direction: row;
  //justify-content: space-evenly;
}

.gridParent {
  display: grid;
  grid-template-columns: 1.6rem 1fr 1fr 1fr 1fr 1.6rem;
  grid-template-rows: min-content 1fr min-content;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  position: relative;
}
.corner--top--left {
  grid-area: 1 / 1 / 2 / 2;
}
.masthead--center {
  grid-area: 1 / 2 / 2 / 6;
}
.corner--top--right {
  grid-area: 1 / 6 / 2 / 7;
}
.sidebar--left {
  grid-area: 2 / 1 / 3 / 2;
}
.image__container {
  grid-area: 2 / 2 / 3 / 6;
}
.sidebar--right {
  grid-area: 2 / 6 / 3 / 7;
}
.corner--bottom--left {
  grid-area: 3 / 1 / 4 / 2;
}
.footer--playerName {
  grid-area: 3 / 2 / 4 / 5;
}
.footer--playerPosition {
  grid-area: 3 / 5 / 4 / 6;
}
/*overlap*/
/* .footer--teamLogo {
  //grid-area: 2 / 5 / 3 / 6;
  //text-align: right;
  //position: relative;
}*/
.corner--bottom--right {
  grid-area: 3 / 6 / 4 / 7;
}
.svg--textureOverlay {
  grid-area: 1 / 1 / 4 / 7;
}
