.row {
  display: flex;
  flex-direction: row;
  //justify-content: space-evenly;
  &--wrap {
    flex-wrap: wrap;
  }
  &--grow {
    flex-grow: 1;
    width: 100%;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}
