[type="text"],
[type="email"],
[type="tel"] {
  background: transparent;
  box-shadow: none;
  border: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  resize: none;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

[data-show-only-on-interaction] {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  width: 100%;
  //top: 100%;
  left: 0;
  //background: rgba(0, 0, 0, 0.5);
  //width: 100%;
  padding: 1.6rem;
  opacity: 0;
  overflow: visible;
  z-index: 2;

  fieldset:focus-within & {
    opacity: 1;
  }

  aside:focus-within & {
    opacity: 1;
  }
  // this should NOT have to be explicit -- missing a rul somewhere
  label {
    display: flex;
    flex-wrap: wrap;
    //flex-basis: 50%;
    width: 50%;
    font-size: 1.6rem;
    padding: 1.6rem;
    color: #fff;
  }
}

// card back element is an example

.fui__wrap {
  &:focus-within {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    background-color: rgba(0, 0, 0, 0.6666);

    z-index: 1;
    .fui__mid {
      position: relative;
    }
    // [type="text"], textarea,
    .fui__formElem {
      //position: absolute;
      // MIN font-size SHOULD BE 1.6rem;
      padding: 1em;
      background: #fff;
    }
    [data-show-only-on-interaction] {
      opacity: 1;
    }
  }
}
