[type="text"],
[type="email"],
[type="tel"] {
  background: transparent;
  box-shadow: none;
  border: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  resize: none;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

[data-show-only-on-interaction] {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  background: rgba(0, 0, 0, 0.5);
  //width: 100%;
  padding: 0.8rem;
  opacity: 0;
  overflow: visible;
  z-index: 1;

  fieldset:focus-within & {
    opacity: 1;
  }

  aside:focus-within & {
    opacity: 1;
  }
  // this should NOT have to be explicit -- missing a rul somewhere
  label {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding: 0.8rem;
    color: #fff;
    input[type="range"] {
      //width: 100%;
    }
  }
}
