textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  resize: none;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
