html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

//root and body styles canT go in scoped
//so either put those in sep style tag above, and leave below scoped
//or just be clear donT use it

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}
