<fieldset class="checkRadioButtons__fieldset">
  <legend class="checkRadioButtons__legend text-left">Gum Stain</legend>
  <div class="checkRadioButtons__wrapper--inner">
    <label class="checkRadioButtons__label">
      <input
        type="radio"
        class="checkRadioButtons__input hidden--visually"
        name="gumradio"
        v-model="defaultSettingsBack.gumShowing"
        value="gumShowing"
      />
      <span>Show</span>
    </label>

    <label class="checkRadioButtons__label">
      <input
        type="radio"
        class="checkRadioButtons__input hidden--visually"
        name="gumradio"
        v-model="defaultSettingsBack.gumShowing"
        value="gumHidden"
      />
      <span>Hide</span>
    </label>
  </div>
</fieldset>
